* {
    box-sizing: border-box;
}

:root {
    --time-label-width: 9ch;
    --day-label-height: 2.5ch;
    /* We'll want to calculate cell height at runtime */
    /* cell height = (calendar height - day label height) / time divisions */
    /* --cell-height: 20ch; */
    --calendar-height: 100ch;
    --border-color: rgb(128, 128, 128);
}

#calendar-container {
    min-height: var(--calendar-height);
    height: var(--calendar-height);
    box-sizing: content-box;
    font-family: "Calibri";
    display: flex;
    flex: 1 1;
    flex-direction: column;
    /* make the inner content fill the entirety of its parent where possible */
    align-items: stretch;
    border: 10px solid red;
}

#calendar {
    box-sizing: content-box;
    min-height: var(--calendar-height);
    height: var(--calendar-height);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    position: relative;
    flex: 1 1;
    border: 10px solid var(--border-color);
}

#times {
    display: flex;
    position: absolute;
    top: var(--day-label-height);
    bottom: 0;
    left: 0px;
    right: 0;
    flex-direction: column;
    border: 5px solid blue;
}

.time {
    position: relative;
    flex: 1 1;
    border: 5px solid cyan;
}

#days {
    flex-direction: row;
    display: flex;
    position: absolute;
    left: var(--time-label-width);
    right: 0;
    height: 100%;
    border: 5px solid orange;
}

.day {
    position: relative;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    border: 5px solid yellow;
}

.day::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.label {
    font-weight: bold;
    padding: 0px 2px 0px 2px;
}

.day .label {
    height: var(--day-label-height);
    display: block;
    text-align: center;
    overflow: hidden;
}

.time .label {
    display: block;
    width: var(--time-label-width);
}

.time::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
}

#events {
    z-index: 2;
    position: relative;
    height: 100%;
    border: 4px solid brown;
}

.event {
    position: absolute;
    width: 100%;
    border: 2px solid gray;
}

.event span {
    padding: 2px;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

